div.StudentContainer {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  background-color: white;
  border: 1px solid whitesmoke;
  width: 60%;
  height: 90%;
  min-height: 2em;
  overflow-y: scroll;
  position: relative;
}

div.Student {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 1em;
  justify-content: "space-between";
  border: 1px solid black;
  width: 100%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  width: 100%;
}

p.Student {
  flex: 7;
}

button.Student {
  flex: 2;
  background-color: #f08080;
  color: white;
  border: none;
  border-radius: 5px;
  height: 60%;
}

button.Student:hover {
  cursor: pointer;
}

div.Students {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

p.Students {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em;
}

div.AddStudent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 20%;
  height: 25%;
  border: 1px solid black;
}

label.AddStudent {
  align-self: flex-start;
  margin-left: 2em;
  margin-top: 1em;
  font-size: medium;
  color: #6d6d6d;
}

input.AddStudent {
  width: 75%;
  height: 15%;
  border: 1px solid #d3d3d3;
  border-radius: 0.2em;
  margin: 0.5em;
}

button.AddStudent {
  width: 50%;
  height: 10%;
  background-color: #f08080;
  color: white;
  font-weight: bolder;
  border: none;
  border-radius: 0.2em;
  margin-bottom: 1em;
}

button.AddStudent:hover {
  cursor: pointer;
  background-color: #ffb6c1;
}

div.RemoveStudent {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  flex: 0.5;
  background-color: rgba(255, 0, 0, 0.596);
  border-color: rgba(255, 0, 0, 0.596);
  font-weight: bolder;
  color: rgba(212, 21, 21, 0.788);
  min-height: 60%;
  margin: 0em 0.5em;
}

div.RemoveStudent:hover {
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.877);
}

div.DeleteMessageContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

div.DeleteMessage {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%; 
}

h3.DeleteMessage {
  margin-bottom: 20px;
  flex: 1; 
}

div.ButtonContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

button.YesButton, button.CancelButton {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  flex: 1; 
}

button.YesButton {
  background-color: #28a745;
  color: white;
}

button.CancelButton {
  background-color: #dc3545;
  color: white;
}
